<h1>Add warehouse</h1>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p><%= error %></p>
    <% end %>
<% end %>

<div class="field" >
<%= form_with model: @inventory do |f| %>
    <%= f.label "Warehouse" %>
    <%= f.collection_select :warehouse_id, Warehouse.all, :id, :name, :location, :prompt => "select a warehouse"  %>

    <% end %>
</div>


