<br>
<h1>Warehouses</h1>
<br>

<div>
    <table class="table table-bordered table-sm">
        <thead>
            <th>Name</th>
            <th>Location</th>
        </thead>
        <tbody>
            <% @warehouses.each do |warehouse| %>
            <tr>
            <td><%= link_to warehouse.name, warehouse_path(warehouse) %></td>
            <td><%= warehouse.location %>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>

<div style="display: flex;">
    <%= button_to "Add Warehouse", new_warehouse_path, class:"btn btn-primary", method: :get %>&nbsp
    <%= button_to "View All Items", items_path, class:"btn btn-primary", method: :get %>
</div>

